/* https://billxu0521.github.io/GA-project/config/www.travel.taipei.css */ 
/*
.page-content-wrapper{


 }
 */
 .tripadvisor-info-blk
 {
    display: none;
 }
 
.content-left-blk .tripadvisor-rating.show-owl {
    display: none;
}
.smart-banner, .tripadvisor-rating {
    display: none !important;
}

